Icon
.DS_Store
.alias
*.log
.cache
.vscode
.ddev
icon.png

# Ignore dev files
/.idea
node_modules
yarn.lock
package-lock.json
/nbproject/
/tests/api/tmp/

# Exclude env vars and custom deployment scripts
.env
deploy.*