/*
  Place your custom style overrides here.
  Checkout /src/assets/global.scss for an overview of all globally available css variables you
    can override

  NOTE: The main application's styling is included through JavaScript. Therefore, it gets added to
    the head _after_ this file. If you want to override the globally used CSS variables, you can either
    use !important, or increase the specificity from :root
*/

/*
	Import CSS Config - Project Specific Variables
	REQUIRED:
	
		@import url(Brand web font to use);

		:root {
			--project-name: Name of Project;
			--project-tagline: Project Tagline;
			
			--main-primary-color: HEX Color;
			--main-primary-color-active: HEX Color;
			--main-primary-color-text: HEX Color;
			--main-primary-color-rgb: RGB Color;
			--main-primary-color-active-rgb: RGBA Color;
			
			--main-font-accent: Web Font Family;
			
			--font-size-h1: 28px !important;
			--font-size-h2: 24px !important;
			--font-size-h3: 20px !important;
			--font-size-h4: 18px !important;
			--font-size-h5: 16px !important;
			--font-size-h6: 14px !important;
			
			--font-size-logo: 20px !important;
		}
*/

@import url('./lib/styles/app.css');

/*
	ScrollBar Styles
*/

@import url('./lib/styles/scrollbar.css');

/*
	Tour Styles
*/

@import url('./lib/styles/tour.css');

/*
	Global Styles Override - Public!
*/

@import url('./lib/styles/public.css');

/*
	Global Styles Override - Private!
*/

@import url('./lib/styles/private.css');

/*
	Global Extensions Override
*/

@import url('./lib/styles/extensions.css');

/*
	Animations
*/

@import url('./lib/styles/animations.css');

/*
	Import Vendors
*/

@import url('../uploads/app/vendors/animate.css/animate.css');
@import url('../uploads/app/vendors/material-design-icons/css/materialdesignicons.css');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;300;400;500;600;700&display=swap');

/*
	Global Variables Override!
*/

body {
	--main-font-body: 'Encode Sans Condensed', sans-serif;
	
	--blue-grey-50: var(--grey-50) !important;
	--blue-grey-100: var(--grey-100) !important;
	--blue-grey-200: var(--grey-200) !important;
	--blue-grey-300: var(--grey-300) !important;
	--blue-grey-400: var(--grey-400) !important;
	--blue-grey-500: var(--grey-500) !important;
	--blue-grey-600: var(--grey-600) !important;
	--blue-grey-700: var(--grey-700) !important;
	--blue-grey-800: var(--grey-800) !important;
	--blue-grey-900: var(--grey-900) !important;
	
	--modal-header-background-color: var(--main-primary-color) !important;
	
	--tooltip-background-color: var(--main-primary-color) !important;
	--tooltip-text-color: white !important;
	
	--border-radius: 0 !important;
	
	--family-monospace: var(--main-font-body) !important;
	
	--button-primary-background-color: var(--main-primary-color) !important;
	--button-primary-background-color-hover: var(--main-primary-color-active) !important;
	--input-background-color-active: var(--main-primary-color) !important;
	--input-background-color-alt: var(--blue-grey-800) !important;
	--loading-background-color-accent: var(--main-primary-color) !important;
	--popover-text-color-hover: var(--main-primary-color) !important;
	--accent: var(--main-primary-color) !important;
	--success: var(--main-primary-color) !important;
	--family-sans-serif: var(--main-font-body) !important;
	
	--warning: var(--blue-grey-700) !important;
	--warning-light: var(--blue-grey-300) !important;
	
	--module-background-color-active: var(--blue-grey-800) !important;
	
	--link-active-background: rgba(0, 0, 0, 0.5) !important;
	
	--page-root-max-width: 1440px !important;
	--header-height-expanded: 108px !important;
}

@media (min-width: 1440px) {
	body {
		--form-column-width: calc((100vw - 632px) / 2) !important;
		--form-column-width-full: calc((100vw - 632px) + 32px) !important;
	}
}

/*
	Material Design Font - https://materialdesignicons.com/
*/

.mdi {
	font-size: 24px;
}

.mdi-set, .mdi:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

